<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastName">Фамилия</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="age">Возраст</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">E-mail</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Обновить"/>
</form>
</body>
</html>